.pagination_wrap{
    justify-content: space-between;
    position: absolute;
    right: 0;
    z-index: 999;
    width: 78%;
    height: 100px;
    bottom: -50px;
     @media only screen and (max-width: 767px) {
        width: 100%;
     }
}