@use "../../app/variable" as *;
.banner_{
    height: calc(100vh - 100px);
    position: relative;
    @media only screen and (max-width: 767px) {
        height: calc(50vh - 100px);
    }
    *{
        height: 100%;
    }
    .img_wrap{
        height: 100%;
        img{
            object-fit: cover;
            object-position: bottom center;
            @media only screen and (max-width: 767px) {
                object-position: left;
            }
        }
    }
    .banner_txt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        z-index: 3;
        height: auto;
        text-align: center;
        width: 100%;
        h1{
            color: $color-white;
            font-size: 3.8em;
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 1.5;
            @media only screen and (max-width: 767px) {
                font-size: 1.6em;
                padding: 0 25px;
            }
            span{
                color: transparent;
                -webkit-text-stroke: 1px #ffffff;
            }
        }
    }
    .banner_btn{
        background: $bg-color;
        border: $bg-color;
        color: $color-white;
    }
    
    .swiper{
        .swiper-button-next, 
        .swiper-button-prev{
            display: none;
        }
        .swiper-wrapper{
            .swiper-slide{
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
                    z-index: 1;
                }
                &:nth-of-type(1),&:nth-of-type(4),&:nth-of-type(5){
                    .img_wrap{
                        
                        img{
                           
                            object-position: top center;
                           
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom: 20px !important;
            top: auto !important;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: 767px) {
                justify-content: flex-end;
                left: -10px;;
            }
            .swiper-pagination-bullet {
                background: $bg-color;
                opacity: .5;
                &.swiper-pagination-bullet-active{
                    opacity: 1;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    
}