@use '../variable' as *;

.product_detail{
    .inner_{
        display: flex;
        gap: 30px;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .image_sec{
            width: 50%;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            .img_wrap{
                position: sticky;
                top: 0;
                display: flex;
                gap: .625rem;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                }
                .large_{
                    margin-bottom: 10px;
                    flex: 1;
                }
                .thumb_images{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @media only screen and (max-width: 767px) {
                        flex-direction: row;
                        order: 2;
                    }
                    >div{
                        width: 100px;
                        cursor: pointer;
                    }
                }
            }
        }
        .content_sec{
            width: 50%;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            
            .detail_title{
                font-size: 3rem;
                display: block;
                margin-bottom: 30px; 
                @media only screen and (max-width: 767px) {
                    font-size: 2rem;
                    line-height: 1.5;
                }
            }
            .detail_desc{
                font-size: 1.3rem;
                font-weight: 600;
            }
            .price_area{
                margin: 30px 0;
                @media only screen and (max-width: 767px) {
                    margin: 15px 0;
                }
                .discount_sec{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                   .persntge{
                    font-size: 1rem;
                    color: $green-color;
                    font-weight: 700;
                   }
                }
                .detail_price{
                    font-size: 2.8rem;
                    display: block;
                    font-weight: 700;
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                    }
                    &.line_throw{
                        font-size: 1.8rem;
                    }
                }
            }
            .custome_options{
                margin: 20px 0 30px;
            .custm_wrap{
                margin-bottom: 20px;
                .options_{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span{
                        border: 1px solid $bg-color;
                        padding: 5px 15px;
                        transition: all .5s ease;
                        cursor: pointer;
                        &.disabled{
                            opacity: .2;
                            cursor:not-allowed;
                        }
                        &.color_span{
                            display: block;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            position: relative;
                            box-shadow: 0 0 0 1px #d1d7da;
                            border: 2px solid $color-white;
                           
                            &.disabled{
                                &:after{
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    background: black;
                                    width: 100%;
                                    height: 2px;
                                    transform: rotate(45deg);
                                    }
                            }
                            &.selected_{
                                box-shadow: 0 0 0 3px #827d7d;
                                width: 45px;
                                height: 45px;
                            }
                            &:hover{
                                box-shadow: 0 0 0 3px #827d7d;
                            }
                        }
                        &.size_span{
                            &.selected_{
                                background-color: $bg-color;
                                color: $color-white;
                            }
                            &:hover{
                                background-color: $bg-color;
                                color: $color-white;
                            }
                        }
                    }
                }
                
            }
        }
            
            
            
            .additional_info{
                margin-top: 30px;
                .info_sec{
                    margin-bottom: 30px;
                    li,p{
                        line-height: 1.88rem;
                    }
                }
            }
        }
    }
}
table{
    width: 100%;
    td,th{
        border: 1px solid $border-color;
        padding: 5px 10px;
        text-align: left;
    }
}
.cart_label_{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}
body:has(section.product_detail) {
    .breadcrumbs{
        display:none
    }
}
.positive_sec{
    a{
        font-weight: 700;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .our_positives {
        padding: 20px 0;
        background-color: $light-grey;
        ul{
            justify-content: space-between;
            gap: 20px;
            @media only screen and (max-width: 767px) {
                align-items: flex-start
            }
            li {
                width: 28%;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                img{
                    width: 50px;
                }
                span{
                    font-size: 12px;
                    width: auto;
                }
            }
        }
    }
}
.related_products{
    margin-top: 100px;
    padding-top: 50px;
    border-top: 1px solid $border-color;
    .product_list{
        li{
            width: 23%;
            @media only screen and (max-width: 767px) {
                width: 49%;
            }
        }
    }
}
.img_wrap_horizontal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Main image */
.large_ {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Thumbnail horizontal slider */
.thumb_images_horizontal {
  width: 100%;
  position: relative;
}

.thumbSwiperHorizontal {
  width: 100%;
}

.thumb_item {
  border: 1px solid #ddd;
  padding: 4px;
  cursor: pointer;
}

.thumb_item.active {
  border: 2px solid #000;
}

.thumb_item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Arrows */
.thumb-prev,
.thumb-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 4px 6px;
  cursor: pointer;
}

.thumb-prev {
  left: 0;
}

.thumb-next {
  right: 0;
}
