@use "../variable" as *;
.categories_sec{
    
    ul.cat_list{
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            gap: 1rem;
        }
        li{
            // width: 20%;
            // display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 18%;
            @media only screen and (max-width: 767px) {
                width: 38%;
            }
            &:nth-of-type(1){
                order: 1;
            }
            &:nth-of-type(2){
                order: 4;
            }
            &:nth-of-type(3){
                order: 7;
            }
            &:nth-of-type(4){
                order: 8;
            }
            &:nth-of-type(5){
                order: 2;
            }
            &:nth-of-type(6){
                order: 5;
            }
            &:nth-of-type(7){
                order: 9;
            }
            &:nth-of-type(8){
                order: 6;
            }
            &:nth-of-type(9){
                order: 3;
            }
            
            a{
                display: block;
                height: 100%;
                position: relative;
                
                border-radius: 10px;
            }
            &:first-child{
                // grid-row: 1 / 3;
                // grid-column: 1 / 2;
            }
            .img_wrap{
                height: 100%;
                position: relative;
                transition: all .3s ease-in-out;
                @media only screen and (max-width: 767px) {
                    height: auto;
                }
                &:before{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    background-color: rgba(0,0,0,.3);
                    width: 100%;
                    aspect-ratio: 1 / 1;   /* Makes width = height */
                    border-radius: 50%;    /* Makes it a circle */
                    
                }
                img{
                    object-fit: cover;
                    // height: 100%;
                    // width: 100%;
                    display: block;
                    width: 100%;
                    aspect-ratio: 1 / 1;   /* Makes width = height */
                    border-radius: 50%;    /* Makes it a circle */
                    
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
            .cat_name{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
                color: $color-white;
                margin: 0;
                padding: 10px 20px;
                display: block;
                text-align: center;
                z-index: 1;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 600;
                @media only screen and (max-width: 767px) {
                    position: static;
                    color: $bg-theme;
                    transform: none ;
                }
            }
        }
    }
}
// .categories_sec ul.cat_list {
//   display: grid;
//   grid-template-columns: 40% repeat(3, minmax(0, calc(60% / 3)));
//   grid-template-rows: repeat(2, 1fr);
//   gap: 10px;
//   @media only screen and (max-width: 767px) {
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: auto;
//     }
// }

// .categories_sec ul.cat_list > * {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
// }

// /* First item takes left 40%, full height */
// .categories_sec ul.cat_list > :first-child {
//   grid-column: 1;
//   grid-row: 1 / 3;
//   @media only screen and (max-width: 767px) {
//        grid-column: auto;
//         grid-row: auto;
//     }
  
// }

// /* 6 right-side items fill 3x2 evenly in remaining 60% */
// .categories_sec ul.cat_list > :nth-child(2) { grid-column: 2; grid-row: 1; }
// .categories_sec ul.cat_list > :nth-child(3) { grid-column: 3; grid-row: 1; }
// .categories_sec ul.cat_list > :nth-child(4) { grid-column: 4; grid-row: 1; }
// .categories_sec ul.cat_list > :nth-child(5) { grid-column: 2; grid-row: 2; }
// .categories_sec ul.cat_list > :nth-child(6) { grid-column: 3; grid-row: 2; }
// .categories_sec ul.cat_list > :nth-child(7) { grid-column: 4; grid-row: 2; }
//  @media only screen and (max-width: 767px) {
//     .categories_sec ul.cat_list > :nth-child(2) { grid-column: auto; grid-row: auto; }
//     .categories_sec ul.cat_list > :nth-child(3) { grid-column: auto; grid-row: auto; }
//     .categories_sec ul.cat_list > :nth-child(4) { grid-column: auto; grid-row: auto; }
//     .categories_sec ul.cat_list > :nth-child(5) { grid-column: auto; grid-row: auto; }
//     .categories_sec ul.cat_list > :nth-child(6) { grid-column: auto; grid-row: auto; }
//     .categories_sec ul.cat_list > :nth-child(7) { grid-column: auto; grid-row: auto; }
//     }

.category_list{
    .inner_{
        display: flex;
        gap: 30px;
        .product_list{
            width: 80%;
        }    
    }    
}
