@use "../../app/variable" as *; 
.quant_cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    >div{
        flex: 1;
        flex-wrap: wrap;
    }
    .cart_btn_div{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;  
    }
    .quantity{
        
        .label_{
            font-size: 1rem;
           margin-bottom: 10px;
           display: block;
        }
        .quantity_field{
            display: flex;
            gap: 20px;
            @media only screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
           >div{
            background-color: $light-grey;
            padding: 10px 20px;
            border-radius: 30px;
            display: flex;
            gap: 10px;
            font-weight: 700;   
            width: 100px;
            justify-content: center;
            .qnty_btn{
                font-size: 1rem;
                margin: 0 10px;
                cursor: pointer;
            }
            .qnty_txt{
                border: 1px solid;
                width: 50px;
            }
           }
        }
        
    }

    
}
.small_txt{
    font-size: 12px;
    margin-left: 10px;
    span{
        color: $bg-color;
        font-weight: 700;
    }
}