
.our_positives{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        // flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            gap: 5px;
            align-items: flex-start;
        }
        li{
            display: flex;
            gap: 20px;
            align-items: center;
            &:nth-of-type(2){
                justify-content: center;
            }
            &:nth-of-type(3){
                justify-content: end;
                
            }
            @media only screen and (max-width: 767px) {
                align-items: flex-start;
                width: 26%;
                flex-direction: column;
            }
            img{
                width: 100px;
                @media only screen and (max-width: 767px) {
                    width: 60px;
                }
            }
            span{
                width: 200px;
                max-width: 100%;
                font-size: 1.2rem;
                @media only screen and (max-width: 767px) {
                    font-size: 12px;
                }
            }
           
        }
    }
}