@use "../../app/variable" as *;
.disc_sec{
    height: 100vh;
    @media only screen and (max-width: 767px) {
        height: auto;
        
    }
    .inner_{
        display: flex;
        height: 100%;
         @media only screen and (max-width: 767px) {
            background-color: $border-color;
            padding-bottom: 20px;
         }
        .item_{
            flex: 1;
            position: relative;
            height: 100%;
            a{
                height: 100%;
                display: block;
                display: flex;
                align-items: center;
                gap: 20px;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                }
            }
            .img_wrap{
                height: 100%;
                position: relative;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text_{
                // position: absolute;
                // z-index: 2;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50% , -50%);
                // color: $color-white;
                // text-align: center;
                // width: 100%;
                transform: translateX(-20%);
                @media only screen and (max-width: 767px) {
                    transform: translate(0);
                    text-align: center;
                }
                h3{
                    font-size: 3.5rem;
                    font-weight: 700;
                    line-height: 1.6;
                    color: $bg-color;
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                        padding: 0 20px;
                    }
                }
                p{
                    font-size: 2rem;
                    color: $bg-color;
                    @media only screen and (max-width: 767px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}