.frgt_txt{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.login_page{
    height: calc(100vh - 98px);
    padding: 0;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .login_box{
            width: 300px;
            .title{
                text-align: center;
                font-size: 2rem;
            }
            .form_{
                display: flex;
                flex-direction: column;
                gap: 20px;
                label{
                    text-align: left;
                    display: block;
                }
                input{
                    width: 100%;
                }
                .cmnBtn{
                    border-radius: 0;
                }
            }
        }
    }
}