.frgt_txt{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.login_page{
    height: calc(100vh - 98px);
    padding: 0;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .login_box{
            width: 300px;
            .title{
                text-align: center;
                font-size: 2rem;
            }
            .form_{
                display: flex;
                flex-direction: column;
                gap: 20px;
                label{
                    text-align: left;
                    display: block;
                }
                input{
                    width: 100%;
                }
                .cmnBtn{
                    border-radius: 0;
                }
            }
        }
    }
}
.password_input {
    position: relative;
  
    input {
      width: 100%;
      padding-right: 60px;
    }
  
    span {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 0.875rem;
      color: #555;
      user-select: none;
    }
  }
  
.error{
    color: red;
    font-size: 14px;
}