/* [project]/src/app/globals.scss.css [app-client] (css) */
body {
  font-size: 16px;
}

section {
  padding: 50px 0 0;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

@media (width >= 1440px) {
  .container {
    max-width: 1470px;
  }
}

@media (width <= 1510px) and (width >= 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 100%;
  }
}

@media (width >= 576px) {
  .container {
    max-width: 100%;
  }
}

.Home_product_list a {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #e3e3e3;
  padding: 10px;
}

.Home_product_list .img_wrap {
  position: relative;
}

.Home_product_list .img_wrap .ribbon_ {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d4bd5f;
  padding: 5px;
  color: #fff;
}

.Home_product_list .btm_area {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

@media only screen and (width <= 767px) {
  .Home_product_list .btm_area {
    flex-direction: column;
  }
}

.Home_product_list .btm_area .name__ {
  flex: 1;
}

.Home_product_list .btm_area .var_price {
  display: flex;
  justify-content: space-between;
}

.Home_product_list .btm_area .cat_price {
  font-size: 1.3rem;
}

.Home_product_list .btm_area .cat_price.line_throw {
  font-size: 1rem;
  position: relative;
}

.Home_product_list .btm_area .cat_price.line_throw:before {
  position: absolute;
  content: "";
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  background-color: #858181;
}

.Home_product_list .btm_area .discount_sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul.product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

ul.product_list li {
  width: 23.5%;
  margin-bottom: 20px;
}

@media only screen and (width <= 767px) {
  ul.product_list li {
    width: 49%;
  }
}

ul.product_list li a {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #e3e3e3;
  padding: 10px;
}

ul.product_list li .top_area {
  overflow: hidden;
  position: relative;
}

ul.product_list li .top_area .img_wrap {
  height: 100%;
  padding-top: 128%;
}

ul.product_list li .top_area .img_wrap img {
  object-fit: cover;
  transition: all .5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

ul.product_list li .top_area .img_wrap .ribbon_ {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d4bd5f;
  padding: 5px;
  color: #fff;
}

ul.product_list li .top_area .add_cart {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  background-color: #d4bd5f;
  color: #fff;
  transform: translateY(100%);
  z-index: 2;
}

ul.product_list li .top_area:hover .img_wrap img {
  transform: scale(1.1);
}

ul.product_list li .top_area:hover .add_cart {
  opacity: 1;
  transform: none;
}

ul.product_list li .btm_area {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

@media only screen and (width <= 767px) {
  ul.product_list li .btm_area {
    flex-direction: column;
  }
}

ul.product_list li .btm_area .name__ {
  flex: 1;
}

ul.product_list li .btm_area .var_price {
  display: flex;
  justify-content: space-between;
}

ul.product_list li .btm_area .cat_price {
  font-size: 1.3rem;
}

ul.product_list li .btm_area .cat_price.line_throw {
  font-size: 1rem;
  position: relative;
}

ul.product_list li .btm_area .cat_price.line_throw:before {
  position: absolute;
  content: "";
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  background-color: #858181;
}

ul.product_list li .btm_area .discount_sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul.product_list li:hover .top_area .img_wrap img {
  transform: scale(1.1);
}

ul.product_list li:hover .top_area .add_cart {
  opacity: 1;
  transform: none;
}

.add_cart {
  border: 1px solid #d4bd5f;
  padding: 8px 20px;
  border-radius: 30px;
  color: #d4bd5f;
  transition: all .3s;
}

.add_cart:hover {
  background-color: #d4bd5f;
  color: #fff;
}

.variant {
  display: flex;
  gap: 5px;
}

.variant .disabled {
  opacity: .2;
}

.variant span {
  border: 1px solid #d4bd5f;
  padding: 5px 15px;
  transition: all .5s;
  cursor: pointer;
  display: block;
}

.cmnBtn {
  border: 1px solid #d4bd5f;
  background-color: #d4bd5f;
  padding: 8px 20px;
  border-radius: 30px;
  color: #fff;
  transition: all .3s;
  display: inline-block;
}

.cmnBtn:hover {
  background-color: #fff;
  color: #d4bd5f;
}

:disabled, .disabled {
  opacity: .5;
  pointer-events: none;
}

input {
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  border-radius: 5px;
}

.cat_name {
  font-size: 1.5rem;
  margin: 10px 0;
  display: block;
}

@media only screen and (width <= 767px) {
  .cat_name {
    font-size: 1.2rem;
  }
}

.line_throw {
  text-decoration: line-through;
  font-size: 3rem;
  opacity: .5;
}

.home_product .breadcrumbs {
  display: none;
}

.home_product .inner_ {
  position: relative;
}

.home_product .inner_ .swiper-slide {
  height: auto;
}

.home_product .inner_ .swiper-slide .top_area {
  overflow: hidden;
  position: relative;
}

.home_product .inner_ .swiper-slide .top_area .img_wrap {
  height: 100%;
  padding-top: 128%;
}

.home_product .inner_ .swiper-slide .top_area .img_wrap img {
  object-fit: cover;
  transition: all .5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home_product .inner_ .swiper-slide .top_area .add_cart {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  background-color: #d4bd5f;
  color: #fff;
  transform: translateY(100%);
  z-index: 2;
}

.home_product .inner_ .swiper-slide .top_area:hover .img_wrap img {
  transform: scale(1.1);
}

.home_product .inner_ .swiper-slide .top_area:hover .add_cart {
  opacity: 1;
  transform: none;
}

.home_product .inner_ .swiper-navigation {
  position: absolute;
  right: 120px;
  top: -40px;
}

.home_product .inner_ .swiper-navigation .swiper-button-next, .home_product .inner_ .swiper-navigation .swiper-button-prev {
  background-color: #d4bd5f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.home_product .inner_ .swiper-navigation .swiper-button-next:after, .home_product .inner_ .swiper-navigation .swiper-button-prev:after {
  font-size: 14px;
  color: #fff;
}

.home_product .inner_ .swiper-navigation .swiper-button-next {
  right: 0;
}

.home_product .inner_ .swiper-navigation .swiper-button-prev {
  left: auto;
  right: 40px;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs ul {
  display: flex;
  gap: 10px;
}

.breadcrumbs ul li:last-child {
  pointer-events: none;
}

.view-all-btn {
  position: absolute;
  right: 0;
  top: -60px;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=src_app_globals_scss_b52d8e.css.map*/