@use "../../app/variable" as *;

.filter_area{
    padding-right: 20px;
    @media only screen and (max-width: 767px) {
        display: none;
        .clear_all_btn{
            display: none;
        }
    }
    .sticky_{
        position: sticky;
        top: 20px;
        @media only screen and (max-width: 767px) {
            position: static;
        }
        .over_flow{
            overflow: auto;
            max-height: calc(100vh - 100px);
        }
        .filter_group{
            .filtr_hd{
                margin-bottom: 10px;
            }
            @media only screen and (max-width: 767px) {
                padding: 0 0 20px;
                .filtr_hd{
                    width: 50%;
                    background-color: $light-grey;
                    position: relative;
                    z-index: 2;
                    &.active{
                        pointer-events: none;
                        color: $bg-color;
                    }
                }
            }
            
            .filter_content{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
                @media only screen and (max-width: 767px) {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50%;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                
                &.size_{
                flex-wrap: wrap;
                flex-direction: row;
                >div{
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                }
                }
                &.color_{
                    .color_box{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
            }
            
            h4{
                font-weight: 700;
                font-size: 1.3rem;
            }
            label{
                input{
                    margin-right: 10px;
                }
            }
        }  
    }
    .filter_item{
        @media only screen and (max-width: 767px) {
            width: 48%;
            margin-bottom: 10px;
        }
     .drop_down,input{
        border: 1px solid $border-color;
        padding: 0 10px;
        border-radius: 5px;
        height: 40px;
       width: 100%;
     } 
     
    }
}

@media only screen and (max-width: 767px) {
    
    .filter-dropdown {
        position: fixed;
        left: 0;
        width: 100%;
        height: calc(100vh - 64px);
        top: 0;
        padding: 100px 20px 20px;
        background-color: $color-white;
        z-index: 99;
        opacity: 0;
        transform: translateY(100%);
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        &.open{
            transform: none;
            opacity: 1;
            visibility: visible;
            .filter_area{
                display: block;
                position: relative;
            }
            &:after{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 48%;
                height: 100%;
                background-color: $light-grey;
            }
        }
        .apply_filter{
            background-color: $bg-color;
            color: $color-white;
            padding: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
        
    }
}
.sort_{
    display: flex;
    gap: 5px;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .filter_btn{
        display: none;
    }
    .product-list-page .filter_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 767px) {
    .filter-dropdown,.filter_btn {
        display: none;
    }
    
}
.clear_all_btn{
    position: fixed;
    // background-color: $bg-color;
    color: $bg-color;
    position: absolute;
    top: -20px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
    span{
        img{
            width: 10px;
            opacity: .2;
        }
    }
    @media only screen and (max-width: 767px) {
        right: auto;
        left: 0;
        text-align: left;
        top: 0;
        z-index: 9;
        font-weight: 700;
        padding: 20px;
        color: $color-black;
       
        span{
            img{
                opacity: 1;
            }
        }
    }
   
}


.top_bread{
    display: flex;
    justify-content: space-between;
}
