@use "../../app/variable" as *;

.filter_area{
    @media only screen and (max-width: 767px) {
        display: none;
    }
    .sticky_{
        position: sticky;
        top: 20px;
        .filter_group{
            display: flex;
            flex-direction: column;
            gap: 10px;
            &.size_{
                flex-wrap: wrap;
                >div{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                }
            }
            h4{
                font-weight: 700;
                font-size: 1.3rem;
            }
            label{
                input{
                    margin-right: 10px;
                }
            }
        }  
    }
    .filter_item{
        @media only screen and (max-width: 767px) {
            width: 48%;
            margin-bottom: 10px;
        }
     .drop_down,input{
        border: 1px solid $border-color;
        padding: 0 10px;
        border-radius: 5px;
        height: 40px;
       width: 100%;
     } 
     
    }
}

@media only screen and (max-width: 767px) {
    .filter-dropdown {
        position: absolute;
        left: 0;
        width: 80%;
        bottom: 0;
        background-color: $color-white;
        z-index: 2;
        opacity: 0;
        transform: translateY(-100%);
        transition: all .3s ease;
        &.open{
            transform: none;
            opacity: 1;
        }
    }
}

.filter_btn{
   
}

.filter_btn{
    display: none;
}
.product-list-page .filter_btn {
    display: block;
}
@media only screen and (min-width: 767px) {
    .filter-dropdown,.filter_btn {
        display: none;
    }
}