@use "../../../app/variable" as *;
.header{
    position: relative;
    background-color: $bg-theme;
    @media only screen and (max-width: 767px) {
        padding: 20px 0 0;
    }
    .inner_{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        >div{
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
                flex: 1;
            }
        }
        .logo{
            width: 230px;
            height: 100px;
            position: relative;
            z-index: 9;
            a{
                cursor: pointer;
                display: block;
                height: 100%;
                img{
                height: 100%;
                object-fit: cover;
                }
            }
        }
        .navigation{
            display: flex;
            .menu_btn{
                font-size: 1.5rem;
                margin-top: 10px;
                display: none;
                @media only screen and (max-width: 767px) {
                    display: block;
                    position: relative;
                    z-index: 9;
                }
            }
            .close_menu{
                position: relative;
                z-index: 5;
            }
            ul.menu-dropdown{
                display: flex;
                flex-direction: row;
                gap: 20px;
                @media only screen and (max-width: 1280px) {
                    gap: 10px;
                }
                @media only screen and (max-width: 767px) {
                    position: fixed;
                    z-index: 2;
                    gap: 20px;
                    transform: translateY(-100%);
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $bg-theme;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s ease;
                }
                li{
                    transition: all .5s;
                    font-size: 14px;
                    a{
                        color: $color-white;
                    }
                    @media only screen and (max-width: 1280px) {
                        font-size: 13px;
                    }
                    @media only screen and (max-width: 767px) {
                        font-size: 1rem;
                        transition: all .5s;
                    }
                    &.active{
                        color: $bg-theme;
                        font-weight: 600;
                    }
                    &:hover{
                        color: $bg-theme;
                    }
                }
                &.open{
                    transform: none;
                    opacity: 1;
                }
            }
        }
        .right_sec{
            flex: 1;
            justify-content: flex-end;
            color: $color-white;
            .mob_home{
                display: none;
            }
            @media only screen and (max-width: 767px) {
                position: fixed;
                left: 0;
                bottom: 0;
                z-index: 3;
                background-color: $color-white;
                width: 100%;
                padding: 20px;
                justify-content: space-around;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
                z-index: 99;
                .mob_home{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $color-black;
                }
            }
            .search_btn{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                z-index: 9;
                @media only screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0;
                    color: $color-black;
                }
                img{
                    width: 18px;
                    height: 18px;
                    @media only screen and (min-width: 767px) {
                        filter: grayscale(1) invert(1);
                    }
                }
            }
            .search-dropdown{
                position: fixed;
                top: 0;
                z-index: 7;
                background: $bg-theme;
                width: 100%;
                height: 100%;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-100%);
                opacity: 0;
                transition: all .5s ease;
                @media only screen and (max-width: 767px) {
                    transform: translateY(110%);
                    height: calc(100% - 87px);
                }
                .srch_bar{
                    width: 450px;
                    position: relative;
                    max-width: 100%;
                    opacity: 0;
                    transition: all .5s ease;
                    @media only screen and (max-width: 767px) {
                        width: 95%;
                    }
                    input{
                        width: 100%;
                    }
                    button{
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &.open{
                    opacity: 1;
                    transform: none;
                    .srch_bar{
                        opacity: 1;
                        transition-delay: .8s;
                        img{
                            @media only screen and (max-width: 767px) {
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }
                
            }
           
            .pro_cart{
                display: flex;
                gap: 30px;
                align-items: center;
                position: relative;
                z-index: 9;
                @media only screen and (max-width: 767px) {
                    gap: 40px;
                }
                .absolute{
                    position: absolute;
                    position: absolute;
                    top: 105%;
                    left: -8px;
                    background: $bg-theme;
                    z-index: 2;
                    max-width: 200px;
                    min-width: 100px;
                    padding: 10px;
                    border: 1px solid $border-color;
                    @media only screen and (max-width: 767px) {
                        top: -120px;
                    }
                    .mt-2{
                        padding: 5px 0;
                        color: $color-white;
                    }
                }
            }
            .cart{
                display: flex;
                position: relative;
                cursor: pointer;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                }
                .count{
                    position: absolute;
                    bottom: -5px;
                    right: -10px;
                    width: 18px;
                    height: 18px;
                    background-color: $bg-color;
                    color: $color-white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    @media only screen and (max-width: 767px) {
                        bottom: 20px;
                        right: -5px;
                    }
                }
                .cart_txt{
                    display: none;
                    @media only screen and (max-width: 767px) {
                        display: block;
                        color: $color-black;
                    }
                }
            }
            .profile{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;
                .pro_txt{
                    max-width: 80px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @media only screen and (max-width: 767px) {
                        color: $color-black;
                    }
                }
                @media only screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    img{
                        order: 1;
                    }
                    .pro_txt{
                        order: 2;
                    }
                }
                a{
                    display: block;
                }
            }
            img{
                width: 22px;
                height: 22px;
                @media only screen and (min-width: 767px) {
                    filter: grayscale(1) invert(1);
                }
            }
        }
    }
    .breadcrumbs{
        position: relative;
        top: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .hamburger {
        position: relative;
        width: 1em;
        height: 1em;
        font-size: inherit;
        transition: all 0.3s ease;
        cursor: pointer;
        &.is-lg {
            font-size: 1.5rem;
        }
        &-line {
            position: absolute;
            right: 0;
            width: 100%;
            height: 0.125em;
            border-radius: 0.125em;
            background: $color-white;
            transition: inherit;
            z-index: 4;
        
            &:nth-child(1) {
            top: 0.125em;
        
            .hamburger.close_menu &,
            .w-nav-button.w--open & {
                top: 50%;
                transform: translateY(-50%) rotateZ(-135deg);
            }
            }
        
            &:nth-child(2) {
            top: 0.438em;
        
            .hamburger.close_menu &,
            .w-nav-button.w--open & {
                right: 50%;
                width: 0;
            }
            }
        
            &:nth-child(3) {
            top: 0.75em;
            width: 0.625em;
        
            .hamburger.close_menu &,
            .w-nav-button.w--open & {
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(135deg);
            }
            }
        }
    }
}