@use "../../../app/variable" as *;
.header{
   
    position: relative;
    @media only screen and (max-width: 767px) {
        padding: 20px 0 0;
    }
    .inner_{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        >div{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .logo{
            width: 200px;
            height: 100px;
            a{
                cursor: pointer;
                display: block;
                height: 100%;
                img{
                height: 100%;
                object-fit: cover;
                }
            }
        }
        .navigation{
            .menu_btn{
                font-size: 1.5rem;
            margin-top: 10px;
            }
            .close_menu{
                position: relative;
                z-index: 5;
            }
            ul.menu-dropdown{
                position: fixed;
                z-index: 2;
                gap: 20px;
                transform: translateY(-100%);
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;
                li{
                    font-weight: 700;
                    font-size: 3rem;
                    transition: all .5s;
                    &.active{
                        color: $bg-pink;
                    }
                    &:hover{
                        color: $bg-pink;
                    }
                }
                &.open{
                    transform: none;
                    opacity: 1;
                }
            }
        }
        .right_sec{
            flex: 1;
            justify-content: flex-end;
            .srch_bar{
                width: 450px;
                position: relative;
                @media only screen and (max-width: 767px) {
                    min-width: 100%;
                }
                input{
                    width: 100%;
                }
                button{
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .pro_cart{
                display: flex;
                gap: 30px;
                align-items: center;
                position: relative;
                @media only screen and (max-width: 767px) {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    z-index: 3;
                    transform: translateY(-50%);
                }
                .absolute{
                    position: absolute;
                    position: absolute;
                    top: 105%;
                    left: -8px;
                    background: $color-white;
                    z-index: 2;
                    max-width: 200px;
                    min-width: 100px;
                    padding: 10px;
                    border: 1px solid $border-color;
                   
                }
            }
            .cart{
                display: flex;
                position: relative;
                cursor: pointer;
                width: 24px;
                height: 24px;
                .count{
                    position: absolute;
                    bottom: -5px;
                    right: -10px;
                    width: 18px;
                    height: 18px;
                    background-color: $bg-pink;
                    color: $color-white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }
            .profile{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;
                a{
                    display: block;
                }
            }
        }
    }
}