@use "../../../app/variable" as *;
.header{
    padding: 20px 0 20px;
    position: relative;
    @media only screen and (max-width: 767px) {
        padding: 20px 0 0;
    }
    .inner_{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        >div{
            display: flex;
            gap: 20px;
        }
        .logo{
            width: 150px;
        }
        .navigation{
            ul{
                display: flex;
                gap: 20px
            }
        }
        .right_sec{
            flex: 1;
            justify-content: flex-end;
            .srch_bar{
                width: 350px;
                position: relative;
                @media only screen and (max-width: 767px) {
                    min-width: 100%;
                }
                input{
                    width: 100%;
                }
                button{
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .pro_cart{
                display: flex;
                gap: 30px;
                align-items: center;
                @media only screen and (max-width: 767px) {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    z-index: 3;
                    transform: translateY(-50%);
                }
            }
            .cart{
                display: flex;
                position: relative;
                cursor: pointer;
                width: 24px;
                height: 24px;
                .count{
                    position: absolute;
                    bottom: -5px;
                    right: -10px;
                    width: 18px;
                    height: 18px;
                    background-color: $bg-pink;
                    color: $color-white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }
            .profile{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;
            }
        }
    }
}