@use '../../app/variable' as *;
.footer{
    background-color: $bg-theme;
    margin-top: 50px;
    @media only screen and (max-width: 767px) {
        margin-bottom: 66px;
        padding: 20px 0;
    }   
    .inner_{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            justify-content: center;
            gap: 20px;
            padding-bottom: 30px;
        }
        .logo_{
            width: 300px;
        }
        ul{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            @media only screen and (max-width: 767px) {
                justify-content: center;
            }
            li{
                font-weight: 500;
                font-size: 12px;
                a{
                    color: $color-white;
                }
            }
        }
    }
    
}